@font-face {
    font-family: 'Aesthetic';
    src: url('fonts/Aesthetic-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: black;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    margin-top: 35px;
    padding: 0;
}
  
  .menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 35px;
    left: 35px;
    font-size: 30px;
    z-index: 2;
  }
  
  nav {
    display: none;
    background-color: black;
    position: absolute;
    top: 0; /* Cambia la posición superior a 0 para que el menú esté en la parte superior */
    left: 0;
    width: 100%; /* Cambia el ancho al 100% para ocupar toda la pantalla */
    text-align: center;
    z-index: 1;
    box-sizing: border-box; /* Añade esto para incluir el padding en el ancho total */
  }
  
  nav a {
    display: inline-block;
    width: 20%; 
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  nav a:hover {
    color: red; 
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    border-radius: 15px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .menu-btn + nav {
    display: block;
  }
  
  

  

section {
    margin-bottom: 1%;
}

#section-1 {
    height: 100vh;
    background-color: black;
}

#section-3 {
    margin-top: 5%;
}

.line {
    height: 1px;
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}

#footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#link-social-ig {
    display: inline-block;
    width: 50%; /* Para ocupar el 50% del contenedor */
    box-sizing: border-box;
}

#link-social-yt {
    display: inline-block;
    width: 50%; /* Para ocupar el 50% del contenedor */
    box-sizing: border-box;
}

.footer {
    text-align: center;
    margin-top: 20px; /* Espacio entre los botones y el pie de página */
}

.link-social a:link {
    text-decoration: none;
    color: white;
}

.link-social a:visited{
    text-decoration: none;
    color: white;
}

.link-social a:hover > p {
    background-color: white;
    color: black;

    text-decoration: none;
}

.link-social a:active > p{
    text-decoration: none;
    color: black;
    background-color: black;
    border: 1px solid black;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* Estilo para hacer los iframes responsivos */
iframe {
    max-width: 100%; /* Evita que los iframes se desborden en pantallas pequeñas */
    
}


h1 {
    color: white;
    font-family: 'Aesthetic', Helvetica, Arial, sans-serif;
    font-size: 1200%;
    letter-spacing: 2vw;

    padding-top: 1.5%;

}

h2 {
    font-family: 'Aesthetic', Helvetica, Arial, sans-serif;
    font-size: 300%;
    text-align: center;
}

.info-content {
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0;
    margin-bottom: 20px;
}

#concepto {
    transform: translateX(-50px);
}

#etapas {
    transform: translateX(50px);
}

#instalacion {
    transform: translateX(-50px);
}

.escena {
    margin-bottom: 5%;
}

.scrollButton {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollButton:hover {
    cursor: pointer;
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 4px solid black;
}

#intro {
    padding-top: 2%;
}

#invitacion {
    margin-top: 5%;
    padding: 5% 0;
}

.hero-text {
    position: absolute;
}

.accordion-body {
    background-color: black;
}

.accordion-button {
    background-color: black;
}

.accordion-button:hover {
    background-color: white;
    color: black;
}

#accordionInfo {
    margin-top: 5%;
}

/* Container for the horizontal-scrolling section */
.scroll-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

.escena {
    flex: 0 0 auto;
    margin-right: 16px; /* Adjust as needed */
}

@media (max-width: 767px) {
    h1 {
        font-size: 400%;
    }
}

button {
    color: black;
}

#slideLeft:hover, #slideRight:hover {
    cursor: pointer;
    text-decoration: underline;
}

@keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

#title {
    animation: fadeInOut 2s infinite;
}