* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

body {
    background-color: black;
    overflow-x: hidden;
}

section {
    display: flex;
    background-color: black;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.line {
    height: 1px;
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}


#footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#link-social-ig {
    display: inline-block;
    width: 50%; /* Para ocupar el 50% del contenedor */
    box-sizing: border-box;
}

#link-social-yt {
    display: inline-block;
    width: 50%; /* Para ocupar el 50% del contenedor */
    box-sizing: border-box;
}

.footer {
    text-align: center;
    margin-top: 20px; /* Espacio entre los botones y el pie de página */
}

.link-social a:link {
    text-decoration: none;
    color: white;
}

.link-social a:visited{
    text-decoration: none;
    color: white;
}

.link-social a:hover > p {
    background-color: white;
    color: black;

    text-decoration: none;
}

.link-social a:active > p{
    text-decoration: none;
    color: black;
    background-color: black;
    border: 1px solid black;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#description {
    color: white;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-indicators {
    position: absolute;
    transform: translateY(200%);
    z-index: 15; /* Make sure indicators appear above the slides */
}

#scenesCarousel {
    margin-top: 20vh;
    margin-bottom: 20vh;
}


/* Estilo para hacer los iframes responsivos */
iframe {
    max-width: 100%; /* Evita que los iframes se desborden en pantallas pequeñas */
    
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    #scenesCarousel {
        margin-top: 10vh; /* Reducir el margen superior en dispositivos móviles */
        margin-bottom: 10vh; /* Reducir el margen inferior en dispositivos móviles */
    }

    .carousel-item iframe {
        height: 300px; /* Establecer una altura específica para los iframes en dispositivos pequeños */
    }
}