@font-face {
    font-family: 'Aesthetic';
    src: url('fonts/Aesthetic-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

section {
    margin-bottom: 1%;
}

#section-1{
    height: 100vh;
    background-color: black;
}


#section-3{
    padding: 1%;
}

.line {
    height: 1px;
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}


#footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#link-social-ig {
    display: inline-block;
    width: 50%; /* Para ocupar el 50% del contenedor */
    box-sizing: border-box;
}

#link-social-yt {
    display: inline-block;
    width: 50%; /* Para ocupar el 50% del contenedor */
    box-sizing: border-box;
}

.footer {
    text-align: center;
    margin-top: 20px; /* Espacio entre los botones y el pie de página */
}

.link-social a:link {
    text-decoration: none;
    color: white;
}

.link-social a:visited{
    text-decoration: none;
    color: white;
}

.link-social a:hover > p {
    background-color: white;
    color: black;

    text-decoration: none;
}

.link-social a:active > p{
    text-decoration: none;
    color: black;
    background-color: black;
    border: 1px solid black;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* Estilo para hacer los iframes responsivos */
iframe {
    max-width: 100%; /* Evita que los iframes se desborden en pantallas pequeñas */
    
}


h1 {
    color: white;
    font-family: 'Aesthetic', Helvetica, Arial, sans-serif;
    font-size: 400%;
    letter-spacing: 20px;
    
    background-color: rgba(0,0,0,.5);
    padding-top: 1.5%;
    border-radius: 20px;

}

h2 {
    color: #B40202;
    font-family: 'Aesthetic', Helvetica, Arial, sans-serif;
    font-size: 300%;
    text-align: center;
}

.info-content {
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0;
    margin-bottom: 20px;
}

#concepto {
    transform: translateX(-50px);
}

#etapas {
    transform: translateX(50px);
}

#instalacion {
    transform: translateX(-50px);
}

.escena {
    margin-bottom: 5%;
}

.scrollButton {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollButton:hover {
    color: #B40202;
    cursor: pointer;
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: #B40202;
    border-radius: 10px;
    border: 4px solid black;
}

#intro {
    padding-top: 2%;
}

#invitacion {
    margin-top: 10%;
    padding: 5% 0;
}

.hero-text {
    position: absolute;
}